
<div class="m-5">
    <h1 class="clr-clssc mb-4">@ViewBag.Message</h1>
    <h5 class="">@ViewBag.SecondaryMessage</h5>
</div>


<form asp-controller="Home" asp-action="Index">
    <button class="btn-abt-us btn-15-width px-3 py-2 my-5">Back to main page</button>
</form>
