@model string

<div class="container1 px-5 py-5 mt-5">
    <div class="left-aligned mb-5">
        <h1 class="clr-clssc">Are you sure?</h1>
        <h5>Do you want to deactivate your account?</h5>
    </div>
    <a class="nav-link nav-link-color ps-5" asp-area="" asp-route-id="@Model" asp-controller="Account" asp-action="DeactivateConfirmed">Deactivate account</a>
</div>




