@using Instadvert.CZ.Data.ViewModels

@model LoginVM;

@{
    ViewData["Title"] = "Log in to your account";
}



<section class="">
    <div class="container">
        <div class="col-md-5 mx-auto text-center">
            <div class="h-100 p-5 my-5 bg-body-white ">
                <h2> Log in to your account for more options</h2>
            </div>
        </div>
    </div>
</section>


    <section class="bg-custom-gray  my-5">
        <div class="container">
            <div class="col-md-9 mx-auto">
            <h3>@ViewBag.Message</h3>
                <form asp-action="Login">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="h-100 p-5 bg-body-white ">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control" id="floatingInput" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control" id="floatingInput" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <label for="floatingInput">Password</label>


                        </div>
                        <div class="form-floating">
                            <button type="submit" class="btn btn-secondary">Submit</button>
                            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Login">Cancel</a>
                        </div>

                    </div>
                </form>

            </div>
        </div>


    </section>


