

<div class="m-5">
    <h1 class="clr-clssc mb-4">Registration succesfull</h1>
    <h5 class=""> Before you can Login, please confirm your email, by clicking on the confirmation link we have emailed you</h5>



    <a class="cntct-link asp-controller="Account"
       asp-action="ResendConfirmationEmail">Resend Confirmation Email</a>
</div>


       
