
<div class="m-5">
    <h1 class="clr-clssc mb-4">Congratulations</h1>
        <h5 class="">You are now loginned</h5>
    <a asp-controller="Home" asp-action="Index" class="clr-clssc"> Back to main page</a>
</div>
