<div class="container1 px-5 py-5 mt-5">
    <div class="left-aligned mb-5">
        <h1 class="clr-clssc">Congratulations!</h1>
        <h5>Your account was succesfully activated</h5>
    </div>
    <div class="right-aligned mb-5">
        <h1 class="clr-clssc">Create a payment</h1>
        <h5>Now you can create payments!</h5>
    </div>
</div>